a{text-decoration:none;}
.bg-color1{background-color:#F2CFB8;}
.bg-color2{background-color:#B9BDA7;}
.bg-color3{background-color:#105762;}
.bg-color4{background-color:#F3E2BD;}
.bg-color5{background-color:#FF6B53;}
